# Connessione MongoDB
MONGODB_URI=mongodb://localhost:27017/k9-exercise?replicaSet=rs0

# Porta del server backend
PORT=3001

# Abilita la select dell'operazione (= oppure >=) nei filtri (true | false)
VITE_ENABLE_WITH_OPERATION_FILTER=false
